<div class="row" style="padding:0px;">
    <div class="col" style="padding:0px;">
        <div class="button-bar">
            <a class="button marketing-primary-block pier-primary" ng-class="{ active: data.section == 'ship' }" ng-click="switchSection('ship')">Ship</a>
            <a class="button marketing-primary-block pier-primary" ng-class="{ active: data.section == 'anchor' }" ng-click="switchSection('anchor')">Dock</a>
            <a class="button marketing-primary-block pier-primary" ng-click="closeDocker()">Done</a>
        </div>
    </div>
</div>

<div ng-if="data.section == 'ship'">

<div class="row" style="padding:0px;">
    <div class="col" style="padding:0px;">
        <div class="button-bar">
            <a class="button marketing-primary-block" ng-class="{ active: data.shippingSection == 'transmissionSelect' }" ng-click="switchShippingSection('transmissionSelect')"><i class="icon ion-ios-color-filter"></i></a>
            <a class="button marketing-primary-block" ng-if="data.outType" ng-class="{ active: data.shippingSection == 'gatewaySelect' }" ng-click="switchShippingSection('gatewaySelect')"><i class="icon ion-ios-world"></i></a>
            <a class="button marketing-primary-block" ng-if="data.outType && data.selectedGateway && data.selectedGateway.name && data.currency" ng-class="{ active: data.shippingSection == 'final' }" ng-click="switchShippingSection('final')"><i class="icon ion-ios-people"></i></a>
        </div>
    </div>
</div>

<div class="row" style="padding:0px;">
    <div class="col" style="padding:0px;text-align:center;">
        <h4 class="main-font pier-primary">1</h4>
    </div>
    <div class="col" style="padding:0px;text-align:center;" ng-if="data.outType">
        <h4 class="main-font pier-primary">2</h4>
    </div>
    <div class="col" style="padding:0px;text-align:center;" ng-if="data.outType && data.selectedGateway && data.selectedGateway.name && data.currency">
        <h4 class="main-font pier-primary">3</h4>
    </div>
</div>

<div class="row" ng-if="data.shippingSection == 'transmissionSelect'">
    <div class="col" style="padding:0px;">
        <div class="list" style="padding:0px;margin-top:0px;">
            <a class="item item-icon-left pier-primary" ng-class="{selectedBack : item.name == data.outType}" style="color: #14274d !important;" ng-repeat="item in transmissionMethods" ng-click="selectTransmissionMethod(item)">
                <i class="icon ion-social-snapchat" ng-if="item.name == 'Snapchat'"></i>
                <i class="icon ion-android-mail" ng-if="item.name == 'Email'"></i>
                <i class="icon ion-android-phone-portrait" ng-if="item.name == 'SMS'"></i>
                <i class="icon ion-social-linkedin" ng-if="item.name == 'LinkedIn'"></i>
                <i class="icon ion-social-twitter" ng-if="item.name == 'Twitter'"></i>
                <i class="icon ion-social-facebook" ng-if="item.name == 'Facebook'"></i>
                {{item.name}}
            </a>
        </div>
    </div>
</div>

<div class="row" ng-if="data.shippingSection == 'gatewaySelect'">
    <div class="col" style="padding:0px;" ng-if="data.outType">
        <form>
            <label class="item item-input">
                <i ng-if="data.gatewaySelected && data.gatewaySelected.rippleAddress" class="icon ion-ios-world pier-primary" style="padding-right: 10px;"></i>
                <input type="text" class="pier-primary provicolor" placeholder="Gateway Ripple Name" ng-model="data.gatewaySelected.input">
            </label>
            <label class="item item-input">
                <input type="text" class="pier-primary provicolor" placeholder="Currency" ng-model="data.currency">
            </label>
        </form>
    </div>
</div>

<div class="row" ng-if="data.shippingSection == 'final'">
    <div class="col" style="padding:0px;" ng-if="data.outType == 'Snapchat'">
        <div class="list list-inset" style="padding:0px;margin-top:0px;">
            <form>
                <label class="item item-input">
                    <i ng-if="snapChatPacket.valid" class="icon ion-social-snapchat pier-primary" style="padding-right: 10px;"></i>
                    <input type="text" class="pier-primary provicolor" placeholder="Username" ng-model="snapChatPacket.username">
                </label>
                <label class="item item-input">
                    <i ng-if="snapChatPacket.valid" class="icon ion-social-snapchat pier-primary" style="padding-right: 10px;"></i>
                    <input type="password" class="pier-primary provicolor" placeholder="Password" ng-model="snapChatPacket.password">
                </label>
                <label class="item item-input">
                    <i class="icon ion-social-snapchat pier-primary" style="padding-right: 10px;"></i>
                    <tags-input class="pier-primary provicolor" placeholder="username" ng-model="snapChatPacket.recipients">
                        <auto-complete source="snapChatAuto()"></auto-complete>
                    </tags-input>
                </label>
                <li class="item item-checkbox pier-primary" style="font-size:12px;">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="snapChatPacket.explainer">
                    </label>
                    Send video explanation
                </li>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Amount {{data.currency}}" ng-model="data.amountCurrency">
                </label>
                <a class="item providence-primary-block pier-primary button" ng-class="{disabled : !data.validSnapchatFields}" style="width: 100%;color: #fff !important;text-align:center !important;" ng-if="data.pathObject && data.pathObject.alternatives" ng-repeat="path in data.pathObject.alternatives" ng-click="shipSnapchat(path)" style="color:#fff;">
                    Ship {{path.source_amount.value || (path.source_amount / 1000000) | number : 4}} {{path.source_amount.currency || 'XRP'}} for {{data.amountCurrency | number : 4}} {{data.currency}}
                </a>
            </form>
        </div>
    </div>

    <div class="col" style="padding:0px;" ng-if="data.outType == 'Email'">
        <div class="list list-inset" style="padding:0px;margin-top:0px;">
            <form>
                <label class="item item-input">
                    <i class="icon ion-person pier-primary" style="padding-right: 10px;"></i>
                    <input type="text" class="pier-primary provicolor" placeholder="Name From" ng-model="loggedInAccount.name">
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-mail pier-primary" style="padding-right: 10px;"></i>
                    <input type="text" class="pier-primary provicolor" placeholder="Email From" ng-model="loggedInAccount.email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-mail pier-primary" style="padding-right: 10px;"></i>
                    <tags-input class="pier-primary provicolor" placeholder="email" ng-model="emailPacket.recipients"></tags-input>
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Message" ng-model="emailPacket.message">
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Amount {{data.currency}}" ng-model="data.amountCurrency">
                </label>
                <a class="item providence-primary-block pier-primary button" ng-class="{disabled : !data.validEmailFields}" style="width: 100%;color: #fff !important;text-align:center !important;" ng-if="data.pathObject && data.pathObject.alternatives" ng-repeat="path in data.pathObject.alternatives" ng-click="shipEmail(path)" style="color:#fff;">
                    Ship {{path.source_amount.value || (path.source_amount / 1000000) | number : 4}} {{path.source_amount.currency || 'XRP'}} for {{data.amountCurrency | number : 4}} {{data.currency}}
                </a>
            </form>
        </div>
    </div>

    <div class="col" style="padding:0px;" ng-if="data.outType == 'SMS'">
        <div class="list list-inset" style="padding:0px;margin-top:0px;">
            <form>
                <label class="item item-input">
                    <i class="icon ion-android-phone-portrait pier-primary" style="padding-right: 10px;"></i>
                    <input type="text" class="pier-primary provicolor" placeholder="From" ng-model="smsPacket.from">
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-phone-portrait pier-primary" style="padding-right: 10px;"></i>
                    <tags-input class="pier-primary provicolor" placeholder="number" ng-model="smsPacket.recipients"></tags-input>
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Message" ng-model="smsPacket.message">
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Amount {{data.currency}}" ng-model="data.amountCurrency">
                </label>
                <a class="item providence-primary-block pier-primary button" ng-class="{disabled : !data.validSMSFields}" style="width: 100%;color: #fff !important;text-align:center !important;" ng-if="data.pathObject && data.pathObject.alternatives" ng-repeat="path in data.pathObject.alternatives" ng-click="shipSms(path)" style="color:#fff;">
                    Ship {{path.source_amount.value || (path.source_amount / 1000000) | number : 4}} {{path.source_amount.currency || 'XRP'}} for {{data.amountCurrency | number : 4}} {{data.currency}}
                </a>
            </form>
        </div>
    </div>

    <div class="col" style="padding:0px;" ng-if="data.outType == 'LinkedIn'">
        <div class="list list-inset" style="padding:0px;margin-top:0px;background-color: transparent;text-align:center;" ng-if="!data.linkedinConnected">
            <i class="icon ion-social-linkedin pier-primary grow hander" style="text-align:center;font-size:200px;" ng-click="connectLinkedin()"></i>
        </div>
        <div class="list list-inset" style="padding:0px;margin-top:0px;" ng-if="data.linkedinConnected">
            <div class="button-bar">
                <a class="button marketing-primary-block pier-primary" ng-class="{ active: linkedinPacket.dm }" ng-click="linkedinPacket.dm = true">Direct Message</a>
                <a class="button marketing-primary-block pier-primary" ng-class="{ active: !linkedinPacket.dm }" ng-click="linkedinPacket.dm = false">Up for Grabs</a>
            </div>
            <form>
                <label class="item item-input" ng-if="linkedinPacket.dm">
                    <i class="icon ion-social-linkedin pier-primary" style="padding-right: 10px;"></i>
                    <tags-input class="pier-primary provicolor" placeholder="connection" ng-model="linkedinPacket.recipients">
                        <auto-complete source="linkedinAuto()"></auto-complete>
                    </tags-input>
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Amount {{data.currency}}" ng-model="data.amountCurrency">
                </label>
                <a class="item providence-primary-block pier-primary button" ng-class="{disabled : !data.validLinkedinFields}" style="width: 100%;color: #fff !important;text-align:center !important;" ng-if="data.pathObject && data.pathObject.alternatives" ng-repeat="path in data.pathObject.alternatives" ng-click="shipLinkedin(path)" style="color:#fff;">
                    Ship {{path.source_amount.value || (path.source_amount / 1000000) | number : 4}} {{path.source_amount.currency || 'XRP'}} for {{data.amountCurrency | number : 4}} {{data.currency}}
                </a>
            </form>
        </div>
    </div>

    <div class="col" style="padding:0px;" ng-if="data.outType == 'Facebook'">
        <div class="list list-inset" style="padding:0px;margin-top:0px;background-color: transparent;text-align:center;" ng-if="!data.facebookConnected">
            <i class="icon ion-social-facebook pier-primary grow hander" style="text-align:center;font-size:200px;" ng-click="connectFacebook()"></i>
        </div>
        <div class="list list-inset" style="padding:0px;margin-top:0px;" ng-if="data.facebookConnected">
            <div class="button-bar">
                <a class="button marketing-primary-block pier-primary" ng-class="{ active: facebookPacket.dm }" ng-click="facebookPacket.dm = true">Direct Message</a>
                <a class="button marketing-primary-block pier-primary" ng-class="{ active: !facebookPacket.dm }" ng-click="facebookPacket.dm = false">Up for Grabs</a>
            </div>
            <form>
                <label class="item item-input">
                    <i class="icon ion-social-facebook pier-primary" style="padding-right: 10px;"></i>
                    <tags-input class="pier-primary provicolor" placeholder="friend" ng-model="facebookPacket.recipients">
                        <auto-complete source="facebookAuto()"></auto-complete>
                    </tags-input>
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Amount {{data.currency}}" ng-model="data.amountCurrency">
                </label>
                <a class="item providence-primary-block pier-primary button" ng-class="{disabled : !data.validFacebookFields}" style="width: 100%;color: #fff !important;text-align:center !important;" ng-if="data.pathObject && data.pathObject.alternatives" ng-repeat="path in data.pathObject.alternatives" ng-click="shipFacebook(path)" style="color:#fff;">
                    Ship {{path.source_amount.value || (path.source_amount / 1000000) | number : 4}} {{path.source_amount.currency || 'XRP'}} for {{data.amountCurrency | number : 4}} {{data.currency}}
                </a>
            </form>
        </div>
    </div>

    <div class="col" style="padding:0px;" ng-if="data.outType == 'Twitter'">
        <div class="list list-inset" style="padding:0px;margin-top:0px;background-color: transparent;text-align:center;" ng-if="!data.twitterConnected">
            <i class="icon ion-social-twitter pier-primary grow hander" style="text-align:center;font-size:200px;" ng-click="connectTwitter()"></i>
        </div>
        <div class="list list-inset" style="padding:0px;margin-top:0px;" ng-if="data.twitterConnected">
            <div class="button-bar">
                <a class="button marketing-primary-block pier-primary" ng-class="{ active: twitterPacket.dm }" ng-click="twitterPacket.dm = true">Direct Message</a>
                <a class="button marketing-primary-block pier-primary" ng-class="{ active: !twitterPacket.dm }" ng-click="twitterPacket.dm = false">Up for Grabs</a>
            </div>
            <form>
                <label class="item item-input">
                    <i class="icon ion-social-twitter pier-primary" style="padding-right: 10px;"></i>
                    <tags-input class="pier-primary provicolor" placeholder="follower" ng-model="twitterPacket.recipients">
                        <auto-complete source="twitterAuto()"></auto-complete>
                    </tags-input>
                </label>
                <label class="item item-input">
                    <input type="text" class="pier-primary provicolor" placeholder="Amount {{data.currency}}" ng-model="data.amountCurrency">
                </label>
                <a class="item providence-primary-block pier-primary button" ng-class="{disabled : !data.validTwitterFields}" style="width: 100%;color: #fff !important;text-align:center !important;" ng-if="data.pathObject && data.pathObject.alternatives" ng-repeat="path in data.pathObject.alternatives" ng-click="shipTwitter(path)" style="color:#fff;">
                    Ship {{path.source_amount.value || (path.source_amount / 1000000) | number : 4}} {{path.source_amount.currency || 'XRP'}} for {{data.amountCurrency | number : 4}} {{data.currency}}
                </a>
            </form>
        </div>
    </div>
</div>
</div>

<div ng-if="data.section == 'anchor'">
    <div class="row">
        <div class="col" style="padding:0px;">
            <div class="list list-inset" style="padding:0px;margin-top: 10px;">
                <form ng-submit="dockerRegister()">
                    <label class="item item-input">
                        <input type="text" class="pier-primary provicolor" placeholder="Email" ng-model="loggedInAccount.email" style="padding:5px;">
                    </label>
                    <label class="item item-input">
                        <input type="text" class="pier-primary provicolor" placeholder="Name" style="padding:5px;" ng-model="gatewayInfo.name">
                    </label>
                    <label class="item item-input">
                        <input type="text" class="pier-primary provicolor" placeholder="Domain (i.e. https://pier.exchange)" style="padding:5px;" ng-model="gatewayInfo.domain">
                    </label>
                    <label class="item item-input">
                        <input type="text" class="pier-primary provicolor" placeholder="Currency" style="padding:5px;" ng-model="gatewayInfo.currency">
                    </label>
                    <button type="submit" class="item button button-block providence-primary-block pier-primary" ng-class="{disabled : !data.anchorFieldsValid}" style="margin-top:0px;">Anchor</button>
                </form>
            </div>
        </div>
    </div>
</div>