<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Pier</title>

    <link href="css/vendor.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://d1pzmogk9nquph.cloudfront.net/img/PierFavicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://d1pzmogk9nquph.cloudfront.net/img/PierFavicons/favicon-16x16.png" sizes="16x16" />

    <script src="https://invest.providence.solutions/socket.io/socket.io.js"></script>

    <script src="js/vendor1.js"></script>

    <script src="cordova.js"></script>

    <script src="js/vendor2.js"></script>

  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">

    <ion-nav-view>

    </ion-nav-view>

    <div ng-class="{pierContainer : loggedInAccount.publicKey, pierContainerPre : !loggedInAccount.publicKey}" style="height:100%;">
        <div class="row" style="padding-top: 0px;margin-top: 0px;height: 90px;position: fixed;">
            <div class="col" style="padding:0px;text-align:center;">
                <a href="https://providence.solutions" target="_blank"><img src="https://d1pzmogk9nquph.cloudfront.net/img/pierCircle.svg" ng-class="{swirl : swirl}" style="padding:10px;"></a>
            </div>
        </div>

        <div class="row" style="height:100%;margin-top:105px;" ng-if="!loggedInAccount.publicKey">
            <div class="col firstPier" ng-if="!loggedInAccount.publicKey">
                <img style="width:100%;" src="https://d1pzmogk9nquph.cloudfront.net/img/dreamstimelarge_42209139.jpg">
                <img class="fullLogo" style="margin-bottom: 0px;position: absolute;top: 150px;left: 0px;margin-left: -30px;" src="https://d1pzmogk9nquph.cloudfront.net/img/pier.png">
            </div>
        </div>

        <div class="row" style="height: 60%;margin-top: 130px;width:50%;display:inline-block;text-align: center;" ng-if="loggedInAccount.publicKey">
            <div class="col">
                <div style="margin-bottom: 0px;height: 100%;position: absolute;width: 60%;left: 0px;opacity:.8;margin-left: -30px;z-index: 1;background-color: white;overflow-y: scroll;padding-bottom: 200px;">
                    <div class="list card" style="padding-left: 30px;margin-top:10px;">

                        <div class="item item-avatar">
                            <img src="https://d1pzmogk9nquph.cloudfront.net/img/pierCircle.svg">
                            <h2 class="pier-primary" style="float:left;margin-bottom:0px;">Introduction</h2>
                            <br>
                            <p class="pier-primary" style="font-size: 12px;float:left;">{{data.date  | date:'medium'}}</p>
                        </div>

                        <div class="item item-body pier-primary">
                            <img style="width:80px;" src="https://d1pzmogk9nquph.cloudfront.net/img/pier.png"> connects gateways and Ripplers, enabling any Rippler to send monetary greetings to Snapchat <i class="icon ion-social-snapchat"></i> (fast money), Twitter <i class="icon ion-social-twitter"></i> (up for grabs, private), LinkedIn <i class="icon ion-social-linkedin"></i> (up for grabs, private), Facebook <i class="icon ion-social-facebook"></i> (up for grabs, private), email <i class="icon ion-android-mail"></i>, and phone <i class="icon ion-android-phone-portrait"></i> (SMS) from any gateway.
                            <br><br><img class="grow hander" ng-src="https://d1pzmogk9nquph.cloudfront.net/img/crate.svg" ng-click="openRedeem()" style="text-align:center;width: 100px;max-height: 160px;">
                            <br><br>Established, widely trusted gateways may apply as Anchor gateways. A careful vetting process following the guidelines of the International Ripple Business Association determines acceptance as an Anchor.
                            <br><br>Anyone may register currencies issued from ripple accounts as Docker gateways for a small fee.
                            <br><br>Pier routes transactions through Providence escrow, enabling redemptions at any time to Ripple accounts.
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div><div class="row" style="z-index: 999999;position: relative;width:50%;display:inline-block;text-align: center;" ng-if="loggedInAccount.publicKey">
            <div class="col hander" style="max-height: 260px !important;" ng-click="openDockerPopover()">
                <img class="grow hander" src="https://d1pzmogk9nquph.cloudfront.net/img/PierAssets/prominence.svg" style="width: 50%;max-height: 240px;">
                <h1 class="pier-primary">Docker</h1>
            </div>
            <div class="col hander" ng-if="assets && assets.anchor" style="max-height: 260px !important;margin-top: 50px;" ng-click="openAnchorPopover()">
                <img class="grow hander" ng-src="{{assets.anchor.src}}" style="width: 50%;max-height: 160px;">
                <h1 class="pier-primary" style="margin-top:0px;" ng-class="assets.anchor.cssClass">Anchor</h1>
            </div>
        </div>

        <div ng-include src="'templates/login.html'"></div>
    </div>

    <div class="chatPane" ng-if="chatData.chatOn" ng-cloak>
        <div class="row" ng-click="toggleChat()" style="cursor:hand;cursor:pointer;padding-top: 0px;margin-top: 0px;height: 40px;position: fixed;">
            <div class="col" style="padding:0px;text-align:center;">
                <i class="icon ion-chevron-down key"></i>
            </div>
        </div>
        <div class="row" style="height:252px;">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list" id="scrolled" style="overflow-y:scroll;max-height: 212px;overflow-y: scroll;margin-top: 40px;background-color: transparent !important;" keep-scroll>
                    <span class="item item-avatar" style="background-color: transparent !important;" scroll-item ng-repeat="message in chatData.messages | unique: 'hash' | orderBy : 'date' : false">
                        <div class="ava">
                            <h4 class="pier-primary" ng-if="message.username" style="margin-top: 10px;"><a href="https://rippletrade.com/#/send?to=~{{message.username}}" style="color:#14274d;" target="_blank">~{{message.username}}</a></h4>
                            <h4 class="pier-primary" ng-if="!message.username && message.address" style="margin-top: 10px;">{{message.address}}</h4>
                        </div>
                        <p class="pier-primary chatMessage" ng-bind-html="message.message | emoticonize"></p>
                    </span>
                </div>
                <span id="bottom" style="height:5px;" zum-waypoint="waypoints.waypoints" down="position.bottom" up="position.up" offset="5%"></span>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list">
                    <div class="item item-input-inset" style="width: 100%;">
                        <form ng-submit="sendMessage()" style="width: 100%;">
                            <label class="item-input-wrapper" style="width: 80%;display: inline-block;">
                                <input type="text" ng-model="chatData.message" class="ng-pristine ng-valid">
                            </label>
                            <button type="submit" ng-class="{ disabled: chatData.sending }" class="button button-small marketing-primary-bg main-font" style="width: 20%;margin-left: 0px;display: inline-block;color: #fff;">
                                <span ng-if="chatData.sending"><i class="icon ion-loading-c" style="height: 24px;width: 25px;"></i></span><span ng-if="!chatData.sending">Send</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </body>
</html>
