@font-face {
    font-family: 'neon_80sregular';
    src: url('../fonts/neon-webfont.eot');
    src: url('../fonts/neon-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neon-webfont.woff2') format('woff2'),
    url('../fonts/neon-webfont.woff') format('woff'),
    url('../fonts/neon-webfont.ttf') format('truetype'),
    url('../fonts/neon-webfont.svg#neon_80sregular') format('svg');
    font-weight: normal;
    font-style: normal;
}