@font-face {
    font-family: 'mistralregular';
    src: url('mistral_1-webfont.eot');
    src: url('mistral_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('mistral_1-webfont.woff2') format('woff2'),
    url('mistral_1-webfont.woff') format('woff'),
    url('mistral_1-webfont.ttf') format('truetype'),
    url('mistral_1-webfont.svg#mistralregular') format('svg');
    font-weight: normal;
    font-style: normal;

}